h6 {
  font-style: italic
}

.card {
  margin-top: 1rem;
  text-align: center;
  border: solid black;
  padding: 1rem 1rem;
  width: auto;
}

body {
  background-color: bisque;
}

.jumbotron {
  border: solid black;
}

img {
  border: solid red 4px;
  margin-top: 1rem;
}